body{
	background-color: maroon;
	margin:0px;

}

#header-nav{
	height:70px;
	background-color: #f6b319;
	border-radius: 0px;
}

.navbar-brand a{
	text-decoration:none;
	font-weight: bold;
	color: black;
	font-size: 30px
}
}


h1{
	text-align: center;
}

h2{
	border:1px solid black;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	}

p{
	border:1px solid black;
	margin:10px;
	font-size:30px;
}

.navbar-toggle{
	position:relative;
	float: right;
	padding:10px;
	margin: 10px;
	background-color: transparent;
	background-image: none;
	border: 1px solid black;
	border-radius: 0px;
}


@media(min-width: 768px){
	.navbar-toggle{
		display: none;
	}
}
